/* cssmodules-pure-no-check * /
:global(.index_Button_JqcrsQ) {
  color: black;
:global(.icon_Icon_UvvXnk) {
  color: black;
}

}
:global(.index_PrimaryButton_JqcrsQ) {
  color: black;
:global(.icon_Icon_UvvXnk) {
  color: black;
}

color: green;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.00938em;


}