/* cssmodules-pure-no-check * /
:global(.index_Button_Qfpjpd) {
  color: red;
  height: 10px;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  z-index: -1;
}
:global(.index_Button___Qfpjpd) {
  color: var(--color-secondary);
  background-color: var(--color-primary);
}