[workspace]
members = ["css_in_js_parser", "yak_swc", "relative_posix_path", "../docs/playground-wasm"]
resolver = "2"

[workspace.dependencies]
divan = "0.1.21"
insta = { version = "1.45.0", features = ["yaml"] }
itertools = "0.14.0"
lazy_static = "1.5.0"
pathdiff = "0.2.3"
percent-encoding = "2.3.2"
regex = "1.12.2"
rustc-hash = "2.1.1"
serde = "=1.0.228"
serde_json = "1.0.146"
serde_repr = "0.1"
swc_core = { version = "=50.2.3", features = ["swc_atoms"] }
swc_ecma_transforms_testing = "=35.0.0"
swc_ecma_parser = "=29.0.2"
swc_config = "=3.1.2"
testing = "19.0.0"
base64 = "0.22.1"

[profile.release]
# This profile results in small binary size with acceptable impact on
# performance, but there may well be further optimizations to be had.
strip = "debuginfo"
codegen-units = 1
lto = true
opt-level = "z"
