/* cssmodules-pure-no-check * /
.index_Button_xEUJ1U {
  color: black;
}
.index_Button__\$disabled_xEUJ1U {
  opacity: 0.5;
}
.index_Button__\$hasIcon_xEUJ1U {
  padding-left: 30px;
}
.index_Button__\$disabled_xEUJ1U-01 {
  color: gray;
}