/* cssmodules-pure-no-check * /
:global(.index_Button_MswrNL) {
  color: black;
}
:global(.index_Button__\$disabled_MswrNL) {
  opacity: 0.5;
}
:global(.index_Button__\$hasIcon_MswrNL) {
  padding-left: 30px;
}
:global(.index_Button__\$disabled_MswrNL-01) {
  color: gray;
}
:global(.index_Button_MswrNL) {
  color: black;
}
:global(.index_Button__\$disabled_MswrNL) {
  opacity: 0.5;
}
:global(.index_Button__\$hasIcon_MswrNL) {
  padding-left: 30px;
}
:global(.index_Button__\$disabled_MswrNL-01) {
  color: gray;
}