/* cssmodules-pure-no-check * /
:global(.index_Button_BUlQeq) {
  color: black;
}
:global(.index_Button__\$disabled_BUlQeq) {
  opacity: 0.5;
}
:global(.index_Button__\$hasIcon_BUlQeq) {
  padding-left: 30px;
}
:global(.index_Button__\$disabled_BUlQeq-01) {
  color: gray;
}
:global(.index_Button_BUlQeq) {
  color: black;
}
:global(.index_Button__\$disabled_BUlQeq) {
  opacity: 0.5;
}
:global(.index_Button__\$hasIcon_BUlQeq) {
  padding-left: 30px;
}
:global(.index_Button__\$disabled_BUlQeq-01) {
  color: gray;
}