/* cssmodules-pure-no-check * /
:global(.index_Headline_d3gyqT) {
  color: red;
  
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.00938em;
    
}
:global(.index_Button_d3gyqT) {
  color: red;
  
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.00938em;
    
}