name: autofix.ci
on:
  pull_request:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  autofix:
    if: github.head_ref != 'changeset-release/main'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

      - name: Install Node.js
        uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610 # v3
        with:
          node-version: 22

      - name: Install Rust
        uses: dtolnay/rust-toolchain@6d653acede28d24f02e3cd41383119e8b1b35921 # master
        with:
          toolchain: stable
          targets: wasm32-wasip1, wasm32-unknown-unknown
          components: clippy, rustfmt
      - name: Enable caching
        uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2
        with:
          workspaces: packages/yak-swc

      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4
        name: Install pnpm
        with:
          version: 10.15.0
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@2f8e54208210a422b2efd51efaa6bd6d7ca8920f # v3
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install

      - name: Prettier Next Yak
        run: pnpm prettier

      - name: Prettier Examples
        run: npx prettier --write "examples/**/*.{ts,tsx,js,jsx}"

      - name: Benchmarks
        run: npx prettier --write "benchmarks/**/*.{ts,tsx}" --ignore-path "benchmarks/.prettierignore"

      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
